<link rel="stylesheet" href="/css/index.css">
<title>About Band Aid</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>
    new WOW().init();

</script>
<div class="bg">
    <div class="col-md-6 mx-auto shadow-border form-bg">
        <h1 class="about_head wow FadeInRight">- About Band Aid -</h1>
        <p class="about_content wow FadeInLeft">
            Made by Musicians for Musicians! Whether you are a Band looking for your next member or a Musician looking for his next gig, use Band Aid, the Musician Matchmaking App to patch up all your vacancies and do what musicians do best. Fulfill Dreams!
        </p>
        
        <nav class="wow FadeInLeft">
            <div class="nav nav-tabs about_tabs " id="nav-tab" role="tablist">
                <a class="nav-item nav-link about_tabs active" id="nav-home-tab" data-toggle="tab" href="#nav-musician" role="tab" aria-controls="nav-home" aria-selected="true">I am looking for a gig</a>
                <a class="nav-item nav-link about_tabs" id="nav-profile-tab" data-toggle="tab" href="#nav-gig" role="tab" aria-controls="nav-profile" aria-selected="false">I am looking for a musician</a>

            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-musician" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="grid-container">
                    <div class="Content"><p class="musician_tab">After creating an account your profile would be displayed to the many bands who would love to have you on board, Be sure to check your inbox frequently!</p></div>
                    <div class="buttonsign"><a class="btn btn-block send-button tab_btn" href="/sign_up">
                                <i class="fa fa-google"></i> Create Your Free Account
                            </a></div>
                    <div class="image "><img class="tab_img zoom" src="/images/inbox.png"></div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="nav-gig" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="grid-container">
                    <div class="Content"><p class="musician_tab">After creating an account, Login and head to the search page, fill in the requirement for your perfect musician and the Band Aid algorithm will scour for all musicians that meet your requirements on this platform!</p></div>
                    <div class="buttonsign">
                        <a class="btn btn-block send-button tab_btn" href="/sign_up">
                            <i class="fa fa-google"></i> Create Your Free Account
                        </a>
                    </div>
                    <div class="image"><img class="tab_img zoom" src="/images/search_results.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>