<link rel="stylesheet" href = "/css/index.css">
<title>Band Aid Musician Finder</title>

<!--------------------------------------------------- NAV BAR --------------------------------------------------------->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-auto" href="index.html">
        <img src="/images/band_aid_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Band Aid
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link mr-auto" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg">
<!----------------------------------------------------Sign In---------------------------------------------------------->
<!--https://bootsnipp.com/snippets/orMGB-->
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
            </br></br></br> <!----Temp Fix ---->
                <h1 class="wv-heading--title">
                    Band Aid Helps Musicians
                </h1>
                <h2 class="wv-heading--subtitle">
                    Find the right muscians for your band or group or find work with your special talents.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="myform form ">
                    <form action="" method="post" name="login">
                        <div class="text-center ">
                            <a class="btn btn-block send-button" href="/sign_up">
                                <i class="fa fa-google"></i> Create Your Free Account
                            </a>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-block g-button" href="/login">
                                <i class=" fa-google"></i> Login to Band Aid
                            </a>
                        </div>
                        <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

