<link rel="stylesheet" href="/css/index.css">
<title>Login into Band Aid</title>

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form>
                    <div class="form-group">
                        <label for="instList">What instrument are you looking for?</label>
                        <select class="form-control" id="instList">
                            <option>Drums</option>
                            <option>Guitar</option>
                            <option>Bass Guitar</option>
                            <option>Vocalist</option>
                            <option>Keyboard</option>
                            <option>Hurdy Gurdy</option>
                        </select>
                        <br>
                    </div>
                    <div class="form-group">
                            <a class="btn btn-block g-button" href="/search/q2">
                                <i class="fa fa-google"></i> Next
                            </a>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
 </div>
    