<html>
<link rel="stylesheet" href="/css/index.css">
<title>New Query Instrument</title>

<div class="bg">
    <!--------------------------------------------------- Instrument Selection Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <div class="container forms.container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form id="new_query_instrument_form" method="POST">
                    <div class="form-group">
                        <label for="instrument">What instrument are you looking for?</label>
                        <select class="form-control" name="instrument">
                            {{#each instruments}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <br>
                    </div>
                    <div class="form-group">
                            <button onclick="newQueryInstrument({{qid}})" class="btn btn-default g-button">Next</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
 </div>
</html>