<!--<html>-->
<!--<link rel="stylesheet" href="/css/index.css">-->
<title>What is the minimum proficiency the musician should have with their instrument?</title>

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->

    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form id="new_query_proficiency_form">
                    <div class="form-group">
                        <label for="profList">What is the minimum proficiency the musician should have with their
                            instrument?</label>
                        <select class="form-control" id="profSelect">
                            {{#each proficiency}}
                                <option value="{{proficiency_id}}">{{level}}</option>
                            {{/each}}
                        </select>
                        <br>
                    </div>
                </form>
                <button id="submit_btn" class="btn btn-default g-button">Next</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('submit_btn').addEventListener('click', function(){
        var profSelect = document.getElementById('profSelect').value;
        localStorage.setItem('proficiency', profSelect);
        window.location = '/search/q3/' + {{uid}};
    });
</script>
<!--</div>-->
<!--</html>-->