<!--<link rel="stylesheet" href="/css/index.css">-->
<!--<title>Login into Band Aid</title>-->

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->

    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form id="new_query_location_form" method="POST">
                    <div class="form-group">
                        <label for="radiusList">What is the maximum distance away the musician should be?</label>
                        <select class="form-control" name="zip_code">
                            {{#each zipcodes}}
                                <option value="{{zip_code}}">{{zip_code}}</option>
                            {{/each}}
                        </select>
                        <br>
                    </div>
                    <div class="form-group">
                        <button id="submit_btn" data-id="{{qid}}" class="btn btn-default g-button">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</html>-->