<!--<link rel="stylesheet" href="/css/index.css">-->
<title>What zip code should the Musician be based out of?</title>

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->

    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form id="zipForm">
                    <div class="form-group">
                        <label for="zipInput">What zip code should the Musician be based out of?</label>
                        <input type "number" minlength="5" manlength="5" class="form-control" id="zipInput" rows="1"></input>
                        <br>
                    </div>
                </form>
                <div class="form-group">
                        <button id="submit_btn" class="btn btn-default send-button">Next</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>   

    document.getElementById('submit_btn').addEventListener('click', function(){
        var zipInput = document.getElementById('zipInput').value;
        localStorage.setItem('zip', zipInput);
        var localInst = localStorage.getItem('instrument');
        var localProf = localStorage.getItem('proficiency');
        var localZip = localStorage.getItem('zip');
        window.location = '/search/' + {{uid}} + '?instrument=' + localInst + '&proficiency=' + localProf + '&zip=' + localZip;
    });
</script>
<!--</div>-->
<!--</html>-->