<link rel="stylesheet" href="/css/index.css">
<title>Login into Band Aid</title>

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form>
                    <div class="form-group">
                        <label for="radiusList">What is the minimum distance away the musician should be?</label>
                        <select class="form-control" id="radiusList">
                            <option>10 miles</option>
                            <option>25 miles</option>
                            <option>50 miles</option>
                            <option>100 miles</option>
                        </select>
                        <br>
                    </div>
                    <div class="form-group">
                            <a class="btn btn-block send-button" href="/search">
                                <i class="fa fa-google"></i> Show Musicians
                            </a>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
 </div>
    