<link rel="stylesheet" href="/css/index.css">
<title>Login into Band Aid</title>

<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form>
            <div class="form-group">
                <label for="queryDesc">Tell them what you are looking for!</label>
                <textarea class="form-control" name="description" id="new_query_decription_form" rows="3">{{#each description}}{{description}}{{/each}}</textarea>
            </div>
                    <div class="form-group">
                            <a class="btn btn-block send-button" href="/search">
                                <i class="fa fa-google"></i> Show Musicians
                            </a>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
 </div>
    