<script>

    // Function to check Whether both passwords
    // is same or not.
    function checkPassword(form) {
        password1 = form.password1.value;
        password2 = form.password2.value;

        // If password not entered
        if (password1 == '')
            alert ("Please enter Password");

        // If confirm password not entered
        else if (password2 == '')
            alert ("Please enter confirm password");

        // If Not same return False.
        else if (password1 != password2) {
            alert ("\nPassword did not match: Please try again...")
            return false;
        }

        // If same return True.
        else{
            alert("Success: Account Created")
            return true;
        }
    }
</script>

<link rel="stylesheet" href = "/css/index.css">
<title>Sign up for Band Aid</title>
    <!--------------------------------------------------- Sign Up --------------------------------------------------------->
    <div class="bg">
        <br />
        <div class="container forms.container">
            <div class="col-md-6 mx-auto shadow-border form-bg">
                <h1>Create Account</h1>
                <form onSubmit = "return checkPassword(this)" id="create_profile" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>First Name:</label>
                            <input type="text" class="form-control" name="fname">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" name="lname">
                        </div>
                    </div>
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email">
                    <label>Phone Number:</label>
                    <input type="number" class="form-control" name="phone">
                    <label>Zip Code:</label>
                    <input type="number" class="form-control" name="zip">
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <!--------------------Need to update queries for musician and instruments---------------------------->
                            <label>Instrument</label>
                            <select id="inputInstrument" class="form-control">
                                <option> Choose...</option>
                                <option>Piano</option>
                                <option>Guitar</option>
                                <option>Flute</option>
                                <option>Saxophone</option>
                                <option>Bass</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>Skill Level</label>
                            <select id="inputSkill" class="form-control">
                                <option> Choose...</option>
                                <option>Amateur</option>
                                <option>Intermediate</option>
                                <option>Expert</option>
                            </select>
                        </div>
                    </div>
                    <label>Social Media:</label>
                    <input type="text" class="form-control" name="social">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Are you looking to join a band?
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Enter Password:</label>
                        <input type="password" class="form-control" name="password1">
                    </div>
                    <div class="form-group">
                        <label> Re-Type Password:</label>
                        <input type="password" class="form-control" name="password2">
                    </div>
                    <button type="submit" class="btn btn-default g-button">Register</button
                </form>
            </div>
        </div>
    </div>