<link rel="stylesheet" href="/css/index.css">
<title>Change Password</title>

<!-------https://www.geeksforgeeks.org/password-matching-using-javascript/---->

<script>

    // Function to check Whether both passwords
    // is same or not.
    function checkPassword(form) {
        password1 = form.password1.value;
        password2 = form.password2.value;

        // If password not entered
        if (password1 == '')
            alert ("Please enter Password");

        // If confirm password not entered
        else if (password2 == '')
            alert ("Please enter confirm password");

        // If Not same return False.
        else if (password1 != password2) {
            alert ("\nPassword did not match: Please try again...")
            return false;
        }

        // If same return True.
        else{
            alert("Password Match: Successfully Changed Password")
            return true;
        }
    }
</script>


<div class="bg">
    <!--------------------------------------------------- Login Form --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow-border form-bg">
                <form onSubmit = "return checkPassword(this)">
                        <div class="form-group">
                            <label>New Password:</label>
                                <input type="password" class="form-control" name="password1">
                        </div>
                        <div class="form-group">
                            <label> Confirm New Password:</label>
                                <input type="password" class="form-control" name="password2">
                        </div>
                    <button type="submit" class="btn btn-default g-button">Change Password</button>
                </form>
            </div>
        </div>
    </div>
 </div>
    