/*-------------------------------------------Background Image---------------------------------------------------------*/
body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../images/music-show-concert-live.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.send-button{
    background: #36c731;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.g-button{
    color: #fff !important;
    border: 1px solid #1711ea;
    background: #349eea !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
.my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}
h1{
    postion: relative;
    top: 20px;
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
}
h2{
    margin-top: 5%;
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }